<!DOCTYPE html>
<html lang="en" ng-app="myhub">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body >
    <h1 id="hubtitle">Advance Web-Tech Files and Projects</h1>
<div id="container">
    <ul ng-controller="unit1ctrl">UNIT 1 JQUERY<br>
        <li ng-repeat="i in links"><a ng-href="{{i.source}}">{{i.title}}</a></li>

    </ul>
    <ul ng-controller="unit2ctrl">UNIT 2 ANGULAR JS<br>
        <li ng-repeat="i in links"><a ng-href="{{i.source}}">{{i.title}}</a></li>

    </ul>
    <ul ng-controller="unit3ctrl">UNIT 3 Node JS
    <li ng-repeat="i in links"><a ng-href="{{i.source}}">{{i.title}}</a></li>
</ul>
    <ul ng-controller="labctrl">LAB FILES<br>
        <li ng-repeat="i in links"><a ng-href="{{i.source}}">{{i.title}}</a></li>

    </ul>
    <a id="github" href="https://github.com/shahidk07/webtech"> VIEW FULL REPOSITORY ON  GITHUB</a>
</div>
    <script>
    var myhub = angular.module('myhub',[]);//stored myhub module in variable so we can access it's directives

    myhub.controller('unit1ctrl',function($scope){
        $scope.links=[ 
        {title:"USING AJAX IN JQUERY",source:"class/unit_I_jquery/AJAX_JQUERY/index.html"},
        {title:"ALL TASKS",source:"class/unit_I_jquery/tasks/index.html"},
        {title:"LOCAL JQUERY VS CDN JQUERY",source:"class/unit_I_jquery/CDN_VS_LOCAL_JQ/index.html"},
        {title:"To-Do List-JQuery",source:"Mini-Projects/TODO_LIST_JQUERY/index.html"},
        
   ]
    });
    myhub.controller('unit2ctrl',function($scope){
        $scope.links=[ 
        {title:"FIRST ANGULAR APP",source:"class/Unit_II_angularjs/first_angular_app/index.html"},
        {title:"ng-click DIRECTIVE",source:"class/Unit_II_angularjs/ng_click/index.html"}
   ]
    });
    myhub.controller('unit3ctrl',function($scope){
        $scope.links = [
            {title:"Browser-sync and Nodemon Concurrent Reloading",source:"class/unit_III_nodejs/concurrent_relod"},
        ]
    });

    myhub.controller('labctrl',function($scope){
        $scope.links=[ 
        {title:"EXPERIMENT 1",source:"LAB/EXPERIMENT_1/index.html"},
        {title:"EXPERIMENT 2",source:"LAB/EXPERIMENT_2/index.html"},
        {title:"EXPERIMENT 3",source:"LAB/EXPERIMENT_3/index.html"},
        {title:"EXPERIMENT 4.1",source:"LAB/EXPERIMENT_4/index2.html"},
        {title:"EXPERIMENT 4.2",source:"LAB/EXPERIMENT_4/index3.html"}

   ]
    });

    </script>
</body>
</html>