<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Document</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>
  
    
    <div id="list" ng-controller="ListController">
        <div id="header-bar">
            <button class="header-btns" ng-click="goBack()"><i class="fa-solid fa-house"></i> Home</button>
            <span>Logged in as: <strong>{{ user.name }}</strong></span>
            <button class="header-btns" ng-click="logout()">
                Log out 
                <i class="fa-solid fa-right-from-bracket"></i></button>
        </div>
        <br>
        <!-- `ng-blur="saveTitle()" this saves the title once you finish typing` -->
        <input type="text" id="title" placeholder="Title" ng-model="listTitle" ng-blur="saveTitle()">
        <label for="select" class="sort-label">Arrange By:</label>
        <select name="select" id="select" ng-model="sortBy" ng-change="sortList()">
          

            <option value="-createdAt">Time-Newest</option>
            <option value="createdAt">Time-Oldest</option>
        </select>
    
        <div id="append-wrapper">
            <button ng-click="addItem()" id="add-task-button">+ List Item</button>
        </div>
        <h2>To Do ({{ activeTasks.length }})</h2>
        <div id="alllist_container">
            <div ng-repeat="item in activeTasks | orderBy:sortBy track by item._id"  class="task-item-container">
        
                <input type="checkbox" ng-model="item.isChecked" ng-change="updateTask(item)">
        
                <input class="task-input" type="text" placeholder="Type your task" ng-model="item.task" ng-blur="updateTask(item)">
                <i class="fa-solid fa-circle-xmark remove" ng-click="removeTask(item._id)" title="Delete item"></i>
            </div>
        </div>
        
        <hr>
    
        <div id="display">
            <h3>Completed ({{ completedTasks.length }})</h3>
            <ul id="clist">
                <li ng-repeat="item in completedTasks track by item._id">
                    {{ item.task }}
                </li>
            </ul>
        </div>
        <button id="clearall" ng-click="clearAll()" title="Delete entire todo-list">
            Clear All
        </button>
    </div>
    <script src="/static/app.js">
    
    </script>
</body>

</html>